<div class="flash-animator" role="dialog" aria-modal="true">
  <div class="flash-animator__header" data-component="flash-menu"></div>
  <div class="flash-animator__toolbar" data-component="flash-toolbar"></div>
  <div class="flash-animator__workspace">
    <div class="flash-animator__tools" data-component="flash-tools"></div>
    <div class="flash-animator__stage" data-component="flash-stage"></div>
    <div class="flash-animator__properties" data-component="flash-properties"></div>
  </div>
  <div class="flash-animator__timeline" data-component="flash-timeline"></div>
  <div class="flash-animator__overlays" data-component="flash-overlays"></div>
</div>
