<div class="menu-bar" role="menubar">
  <div class="menu-item" role="menuitem">File</div>
  <div class="menu-item" role="menuitem">Edit</div>
  <div class="menu-item" role="menuitem">View</div>
  <div class="menu-item" role="menuitem">Insert</div>
  <div class="menu-item" role="menuitem">Modify</div>
  <div class="menu-item" role="menuitem">Text</div>
  <div class="menu-item" role="menuitem">Commands</div>
  <div class="menu-item" role="menuitem">Control</div>
  <div class="menu-item" role="menuitem">Window</div>
  <div class="menu-item" role="menuitem">Help</div>
</div>
